hr {
 width: 500px;
 margin-left: 0;
 border: 1px dotted red;
}

.box1 {
    box-sizing: border-box;
    width: 500px ;
    background-color: aqua;
    border: 10px solid red;
    padding:50px ;
}

.box2 {
    /* float: right; */
    box-sizing: border-box;
    width: 500px;
    background-color: aqua;
    border: 10px solid red;
    padding: 50px ;
    
    margin-top: 20px;
}